.register-form {
    min-width: 150px;
    text-align: center;
    background: white;
    border-radius: 14px;
    padding: 3vw;
  }
  
  .register-full-width {
    width: 100%;
  }

  .register-container {
    display: flex;
    flex-direction: column;
  }
  
  .register-container > * {
    width: 100%;
  }
  
  .register-right-align {
    text-align: right;
  }
  
  input.register-right-align::-webkit-outer-spin-button,
  input.register-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.register-right-align {
    -moz-appearance: textfield;
  }

.formWrapper{
  width: 80%;
  margin: auto;
  text-align:center;
}

