mat-toolbar{
    background-color:  #1d69b7;
}

span{
    color: white;
    margin: 0px 50px;
    cursor: pointer;
}

body{
    height: 100vh;
}

#registerForm{
    width:35vw;
    height: calc(100vh - 64px);
    background-color: #a1adea52;
    position:absolute;
    left:calc(105vw);
    top:64px;
    transition: 0.5s cubic-bezier(0.175, 1.185, 0.32, 1.075) left;
    box-shadow: #908fa5 -2px 5px 7px 0px;
}

.openRegisterForm{
    left:65vw!important;
}
#routerWrapper{
    height: calc(100vh - 64px);
}
.openOverlay{
    left:0vw!important;
}
#overlay{
    width:65vw;
    height: calc(100vh - 64px);
    background-color: rgba(0, 0, 0, 0.33);
    z-index: 10;
    position: fixed;
    top: 64px;
    left:-65vw;
    transition: 0.5s cubic-bezier(.39,.67,.83,.96) left;
}